# MS Office files #
*.doc
*.docx
*.ppt
*.pptx

docker_output/*
!docker_output/.gitkeep
R_output/*
!R_output/.gitkeep
.Rproj.user
sandbox/*

.Rhistory
*.Rproj
dat/*

# latex stuff
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.bbl
*.blg
*.out
